@import "styles/equipmentGrid";

.v-toolbar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}
.v-toolbar__content > div > a {
  margin-right: 12px;
}
.v-chip + .v-chip {
  margin-left: 0.5rem;
}

html {
  overflow-y: auto;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.list-enter-active,
.list-leave-active,
.list-move {
  transition: 500ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
  transition-property: opacity, transform;
}

.list-enter {
  opacity: 0;
  transform: translateX(50px) scaleY(0.5);
}

.list-enter-to {
  opacity: 1;
  transform: translateX(0) scaleY(1);
}

.list-leave-active {
  position: absolute;
}

.list-leave-to {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: center top;
}
@media only screen and (max-width: 600px) {
  .mobile-fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 0px;
    margin: 0px;
    top: 0;
    left: 0;
  }
}

@font-face {
  font-family: "runescape";
  src: url("fonts/runescape-chat-07-webfont.woff2") format("woff2"),
    url("fonts/runescape-chat-07-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.fill-width {
  width: 100%;
}
